/target/
.classpath
.settings
.project
**/.DS_Store
.idea
build.xml
hfc-db.iml
*~
**/~
examplequeries.txt
src/main/gen-java/
src/main/gen-cpp/
src/main/resources/icons/gtk-apply.svg
src/main/resources/icons/gtk-clear.svg
src/main/resources/www-doc/test.html
CMakeCache.txt
CMakeFiles/
Makefile
bld_cpp/
cmake_install.cmake
nbactions.xml
/Aufbewahrung/